debian/.debhelper/
debian/debhelper-build-stamp
debian/files
bdm-script-spl-build-debian-package.sh
bdm_build-debian-package.log
debian/apt-keyrings-berbascum.substvars
debian/apt-keyrings-berbascum/
out-apt-keyrings-berbascum/
