Source: apt-keyrings-berbascum
Maintainer: berbascum <berbascum@ticv.cat>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: apt-keyrings-berbascum
Architecture: all
Pre-Depends: apt,
Depends: ${misc:Depends},
         ca-certificates,
Description: APT keyrings for Berbascum's github apt repo
